{% extends 'base.html.twig' %}

{% block title %}Fiche d'un type{% endblock %}

{% block body %}
    <h1>{{ type.type }}</h1>
    
    <h2>Liste des artistes</h2>
    <ul> 
    {% for artistType in type.artists %}  {# for in => l'element droit est un tableau/collection, artists dans type#} 
        <li>{{ artistType.firstname }} {{ artistType.lastname }}</li>
    {% endfor %}
    </ul>
{% endblock %}