{% extends 'base.html.twig' %}

{% block title %}locality{% endblock %}

{% block body %}
    <div class="col-4 ml-auto mr-auto mt-5 p-4" style="background-color: honeydew">
    <h1>{{ locality.postalCode }} {{ locality.locality }}</h1>
    <hr>
    <ul style=" padding:0;">
    {% for location in locality.locations %}
        <li style="list-style-type: none;">{{ location.designation }}</li>
    {% endfor %}
    </ul>
    <a href="{{ path('locality_index') }}" class="btn btn-primary">back to list</a>
    </div>
{% endblock %}