{% extends 'base.html.twig' %}

{% block title %}Locations{% endblock %}

{% block body %}
 <h1 class="text-center mt-4 mb-4">{{ resource }}</h1>
   <table class="table text-center w-50 mr-auto ml-auto mt-4 mb-4">
        <thead>
            <tr>
                <th>DESIGNATION - WEBSITE</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
    {% for location in locations %}
        <tr>
            <td>{{ location.designation }}
                {% if location.website %}
                - <a href="">{{ location.website }}</a>
                {% endif %}
            </td>
            <td>
                <a href="{{ path('location_show', {'id': location.id}) }}" class="btn btn-warning">Show</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}