{% extends 'base.html.twig' %}

{% block title %}Fiche d'un artiste{% endblock %}

{% block body %}
    <h1>{{ artist.firstname }} {{ artist.lastname }}</h1>
    
    <h2>Liste des types</h2>
    <ul>
     {% for artistType in artist.artistTypes  %}
        <li>{{ artistType.type}}</li>
    {% endfor %}
    </ul>
{% endblock %}